<div style="padding: 8px;">
  <ng-container *ngTemplateOutlet="status === 'OK' ? success : error"></ng-container>
</div>

<ng-template #success>
  <div style="margin-top: 10px; padding: 13px 45px 10px 40px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); border-radius: 3px; line-height: 1.5; word-break: break-all; background: #d4eddb; font-size: 12px;">{{ status }}</div>
</ng-template>

<ng-template #error>
  <div style="margin-top: 10px; padding: 13px 45px 10px 40px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); border-radius: 3px; line-height: 1.5; word-break: break-all; background: #f5ccd2; font-size: 12px;">{{ status }}</div>
</ng-template>
