p {
    margin: 0;
}

a {
    -webkit-touch-callout: none;
}

body {
    line-height: 1.4;
    color: #444;
    font-size: 16px;
    -webkit-text-size-adjust: none;
}

.T1 {
    border-radius: 17px;
    overflow: hidden;
    background-color: #ffffff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.MdBx, [class*="MdSep"], .MdTxt, .MdIco, .MdBtn, .MdImg {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: auto;
    min-width: 0;
    max-width: 100%;
}

.T1 .MdBx.hr > div:first-child, .T1 .MdBx.hr > div.mdBxFiller, .T1 .MdBx.hr > div.mdBxSpacer {
    margin-left: 0;
}

.ExLXs {
    margin-left: 2px !important;
}

.ExLSm {
    margin-left: 4px !important;
}

.ExLMd {
    margin-left: 8px !important;
}

.ExLLg {
    margin-left: 12px !important;
}

.ExLXl {
    margin-left: 16px !important;
}

.ExLXXl {
    margin-left: 20px !important;
}

.ExTXs {
    margin-top: 2px !important;
}

.ExTSm {
    margin-top: 4px !important;
}

.ExTMd {
    margin-top: 8px !important;
}

.ExTLg {
    margin-top: 12px !important;
}

.ExTXl {
    margin-top: 16px !important;
}

.ExTXXl {
    margin-top: 20px !important;
}

.T1 .t1Header, .T1 .t1Hero, .T1 .t1Body, .T1 .t1Footer {
    display: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}

/* Slider */

.LySlider {
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.LySlider .lyInner {
    display: -webkit-box;
    display: flex;
    width: 100%;
}

.LySlider .lyInner::after {
    -webkit-box-flex: 0;
    flex: none;
    content: "";
    display: block;
    width: 7px;
    height: 1px;
}

.LySlider .lyItem {
    -webkit-box-flex: 0;
    flex: none;
    display: inherit;
    width: 80%;
    max-width: 300px;
    margin-left: 7px;
}

.LySlider .T1 {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.LySlider .T1 .t1Body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.LySlider .T1 .t1Body > .MdBx.vr {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

/* Hero */

.T1 .t1Hero {
    padding: 0;
}

.T1 .t1Hero:first-child, .T1 .t1Hero:first-child .MdImg.ExFull, .T1 .t1Hero:first-child .MdImg.ExFull > div, .T1 .t1Hero:first-child .MdImg.ExFull > div > a, .T1 .t1Hero:first-child .MdImg.ExFull > div > a > span {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

/* Body */

.T1 .t1Body.ExHasFooter {
    padding-bottom: 10px;
}

.T1 .t1Body {
    padding-top: 19px;
}

/* Footer */

.T1 .t1Footer {
    padding: 10px 10px 10px 10px;
}

/* Box */

.MdBx {
    overflow: hidden;
}

.MdBx.hr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 100%;
}

.MdBx.vr > div {
    -webkit-box-flex: 0;
    flex: none;
}

.MdBx.hr > div {
    width: 0;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.MdBx.hr.bl {
    -webkit-box-align: baseline;
    align-items: baseline;
}

.MdBx.vr > div:first-child, .MdBx.vr > div.mdBxFiller, .MdBx.vr > div.mdBxSpacer {
    margin-top: 0 !important;
}

.MdBx > div.fl0 {
    -webkit-box-flex: 0;
    flex: none;
}

.MdBx > div.fl1 {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.MdBx > div.fl2 {
    -webkit-box-flex: 2;
    flex: 2 2 auto;
}

.MdBx > div.fl3 {
    -webkit-box-flex: 3;
    flex: 3 3 auto;
}

.MdBx.hr > div.fl0 {
    width: auto;
}

.MdBx > div.grvC {
    -webkit-box-pack: center;
    justify-content: center;
}

.MdBx > div.grvB {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.MdBx > div.algS {
    -webkit-box-align: start;
    align-items: flex-start;
}

.MdBx > div.algE {
    -webkit-box-align: end;
    align-items: flex-end;
}

.MdBx.vr.spcXs > div {
    margin-top: 2px;
}

.MdBx.vr.spcSm > div {
    margin-top: 4px;
}

.MdBx.vr.spcMd > div {
    margin-top: 8px;
}

.MdBx.vr.spcLg > div {
    margin-top: 12px;
}

.MdBx.vr.spcXl > div {
    margin-top: 16px;
}

.MdBx.vr.spcXXl > div {
    margin-top: 20px;
}

.T1 .MdBx.hr > div:first-child, .T1 .MdBx.hr > div.mdBxFiller, .T1 .MdBx.hr > div.mdBxSpacer {
    margin-left: 0 !important;
}

.T1 .MdBx.hr.spcXs > div {
    margin-left: 2px;
}

.T1 .MdBx.hr.spcSm > div {
    margin-left: 4px;
}

.T1 .MdBx.hr.spcMd > div {
    margin-left: 8px;
}

.T1 .MdBx.hr.spcLg > div {
    margin-left: 12px;
}

.T1 .MdBx.hr.spcXl > div {
    margin-left: 16px;
}

.T1 .MdBx.hr.spcXXl > div {
    margin-left: 20px;
}

/* Text */

.MdTxt p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.MdTxt.ExAlgC p {
    text-align: center;
}

.MdTxt.ExAlgE p {
    text-align: end;
}

.MdTxt.ExXXs, .MdIco.ExXXs {
    font-size: 11px;
}

.MdTxt.ExXs, .MdIco.ExXs {
    font-size: 13px;
}

.MdTxt.ExSm, .MdIco.ExSm {
    font-size: 14px;
}

.MdTxt.ExMd, .MdIco.ExMd {
    font-size: 16px;
}

.MdTxt.ExLg, .MdIco.ExLg {
    font-size: 19px;
}

.MdTxt.ExXl, .MdIco.ExXl {
    font-size: 22px;
}

.MdTxt.ExXXl, .MdIco.ExXXl {
    font-size: 29px;
}

.MdTxt.ExWB p {
    font-weight: bold;
}

.MdTxt.ExWrap p {
    text-overflow: clip;
    word-wrap: break-word;
    white-space: normal;
}

/* Seperate */

.MdBx.hr > div.MdSep {
    overflow: visible;
}

.MdSep {
    position: relative;
    -webkit-box-flex: 0;
    float: none;
}

[class*="MdSep"] {
    -webkit-box-flex: 0;
    flex: none;
    box-sizing: content-box;
    width: 100%;
    border: 0 solid #d4d6da;
}

.MdSep::before {
    box-sizing: content-box;
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1px;
    border: inherit;   
    border-top-width: 1px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.MdBx.hr > div.MdSep::before {
    width: 1px;
    height: 100%;
    border-top-width: 0;
    border-left-width: 1px;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}

.MdBx.hr > div[class*="MdSep"] {
    -webkit-box-flex: 0;
    flex: none;
}

/* Image */
.MdImg {
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.MdImg > div {
    max-width: 100%;
}

.MdImg.ExMd > div {
    width: 100px;
}

.MdImg a {
    display: block;
    position: relative;
    width: 100%;
}

.MdImg span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
}

.MdImg.ExFit span {
    background-size: contain;
}

.MdImg.ExCover span {
    background-size: cover;
}

.MdImg.ExFull > div {
    width: 100%;
}

.MdImg.Ex5Xl > div {
    width: 220px;
}

.MdImg.Ex4Xl > div {
    width: 200px;
}

.MdImg.Ex3Xl > div {
    width: 180px;
}

.MdImg.ExXXl > div {
    width: 160px;
}

.MdImg.ExXl > div {
    width: 140px;
}

.MdImg.ExLg > div {
    width: 120px;
}

.MdImg.ExMd > div {
    width: 100px;
}

.MdImg.ExSm > div {
    width: 80px;
}

.MdImg.ExXs > div {
    width: 60px;
}

/* Button */
.MdBtn.ExBtnL a {
    color: #42659a;
}

.MdBtn.ExBtn1 a {
    background-color: #17c950;
    color: #fff;
}

.MdBtn.ExBtn2 a {
    background-color: #dcdfe5;
    color: #111;
}

.MdBtn a {
    display: inherit;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    height: 52px;
    padding: 0 16px;
    border-radius: 8px;
    font-size: 16px;
}

.MdBtn div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.fxC0 {
    background-color: #0000ff !important;
}

.MdBtn.ExSm a {
    height: 40px;
}

/* Icon */

.MdIco span {
    display: inline-block;
    overflow: hidden;
    background: no-repeat center;
    background-image: none;
    background-size: auto;
    background-size: contain;
    width: 1em;
    height: 1em;
    vertical-align: baseline;
}

.MdTxt.ExSm, .MdIco.ExSm {
    font-size: 14px;
}

/* Spacer */

.MdBx.vr > div.mdBxSpacer {
    width: 1px;
}

.MdBx > div.mdBxSpacer {
    -webkit-box-flex: 0;
    flex: none;
}

.MdBx.vr > div.mdBxSpacer.spcXs {
    height: 2px;
}

.MdBx.vr > div.mdBxSpacer.spcSm {
    height: 4px;
}

.MdBx.vr > div.mdBxSpacer.spcMd {
    height: 8px;
}

.MdBx.vr > div.mdBxSpacer.spcLg {
    height: 12px;
}

.MdBx.vr > div.mdBxSpacer.spcXl {
    height: 16px;
}

.MdBx.vr > div.mdBxSpacer.spcXXl {
    height: 20px;
}