<div class="cont">
  <div class="headCont">
    <h1 style="position: relative; font-size: 1.1em; white-space: nowrap; font-weight: bold; top: -8px;">Flex Message Simulator</h1>
    <div style="display: flex; align-items: flex-end; flex: 1; padding: 8px 10px 0 20px; margin-right: 5px;">
      <button style="height: 50px; padding: 0 25px; margin: 0 5px;">Flex Test</button>
    </div>

    <div style="padding: 9px 10px 9px 7px;">
      <button style="height: 50px;">ADD</button>
    </div>
  </div>

  <div class="bodyCont">
    <div class="previewComp">
      <app-preview-content>
        <app-flex-preview [status]="status" [data]="data"></app-flex-preview>
        <app-flex-status [status]="status"></app-flex-status>
      </app-preview-content>
    </div>

    <div class="editComp">
      <app-json-editor [data]="data" [actions]="actions" (jsonData)="getJsonData($event)"></app-json-editor>
    </div>
  </div>

  <div class="footerCont">
    <button class="smBttn" (click)="onAction('preview')">Preview</button>
    <button class="smBttn" (click)="onAction('save')">Save</button>
    <button class="ccBttn">Cancel</button>
  </div>
</div>